  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/">
        <button type="submit" class="fas fa-home"></button>
      </a>
      <a href="/profiles/<%= user.profile._id %>/weapon">
        <button type="submit" class="fas fa-scroll"></button>
      </a>
      <form action="/weaponSearch" method="POST">
        <input name="query" type="text" placeholder="Search for Upgradeable Weapons, Input is Case Sensitive">
        <!-- <option name="query" value="<%#= weapon.type %>"><%#= weapon.type %></option>
          <option name="query" value="<%#= weapon.name %>"><%#= weapon.name %></option> -->
          <button type="submit" class="fas fa-search"></button>
        </form>
        <a href="/auth/logout">
          <button type="submit" class="fas fa-sign-out-alt"></button>
        </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
