  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/" style="color: #bd5624;">
        <i type="submit" class="fas fa-home"></i>
      </a>
      <a href="/profiles/<%= user.profile._id %>/weapon" style="color: #bd5624;">
        <i type="submit" class="fas fa-scroll"></i>
      </a>
      <a href="https://monsterhunterworld.wiki.fextralife.com/Weapons" target="_blank" rel="noopener noreferrer" style="color: #bd5624;">
        <i type="submit" class="far fa-list-alt"></i>
      </a>
      <!-- Add in the drop down here instead of the form, dipshit -->
      <form id="nav-search" action="/weaponSearch" method="POST">
        <!-- this input needs to be the first drop down that sets and filters by using .include maybe -->
        <input name="query" type="text" placeholder="Search Weapons">
        <!-- add an onchange property to filter and return only the weapons of selected type vvvvv -->
        <select required="yes">
          <option value="great-sword">Great Sword</option>
          <option value="long-sword">Long Sword</option>
          <option value="sword-and-shield">Sword and Shield</option>
          <option value="dual-blades">Dual Blades</option>
          <option value="hammer">Hammer</option>
          <option value="hunting-horn">Hunting Horn</option>
          <option value="lance">Lance</option>
          <option value="gunlance">Gunlance</option>
          <option value="switch-axe">Switch Axe</option>
          <option value="charge-blade">Charge Blade</option>
          <option value="insect-glaive">Insect Glaive</option>
          <option value="light-bowgun">Light Bowgun</option>
          <option value="heavy-bowgun">Heavy Bowgun</option>
          <option value="bow">Bow</option>
        </select>
        <!-- Add an onchange js property to the second one to submit on selection vvvvv -->
        <select name="" id="">

        </select>
          <!-- THEN use the $and to check for a specific returned weapon from the data filtered by the first dropdown -->
          <button type="submit" class="fas fa-search" style="color: #bd5624;"></button>
        </form>
        <a href="/auth/logout" style="color: #bd5624;">
          <i class="fas fa-sign-out-alt"></i>
        </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
