html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  min-height: 100%;
  background-color: #6A9488;
  color: #212A11;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Exo 2', sans-serif;
  margin: 0;
}

nav {
  font-family: 'Cabin', sans-serif;
  height: 60px;
  background-image: linear-gradient(to bottom, #bd5624, #a46e1c, #8a7e2d, #75894a, #679068, #659274, #66937f, #6a9488, #6a9488, #6a9488, #6a9488, #6a9488);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


main {
  color: #212A11;
  /* height: 100%; */
  font-family: 'Cabin', sans-serif;
  background-color: #6A9488;
  text-shadow: 0px 1px 2px #57423F;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div {
  color: #212A11;
  text-shadow: 0px 1px 2px #57423F;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
  text-shadow: 0px 1px 2px #57423F;
}

.profile-avatar {
  margin-top: 50px;
  border-radius: 5%;
}
/* main */
/* #home-page {
  
} */
/* 

nav {

}

form
#nav-search {

}

main
#show-page-main {

} */

#search-form-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
}

#search-form-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
}

.weapon-deets {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
}

.weapon-needs {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 1;
}

#list-page-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
}

.weapon-listing {
  border: solid 2px #bd5624;
  border-radius: 1px;
  transition: border-width 0.6s linear;
}

.weapon-listing:hover {
  border-width: 10px;
}

.show-page-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
}

.api-table {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
  border: solid 2px #bd5624;
  border-radius: 1px;
  transition: border-width 0.6s linear;
}

.api-table:hover {
  border-width: 10px;
}

.user-table {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 1;
  border: solid 2px #bd5624;
  border-radius: 1px;
  transition: border-width 0.6s linear;
}

.user-table:hover {
  border-width: 10px;
}

button {
  border: solid 2px #bd5624;
  border-radius: 1px;
  transition: border-width 0.6s linear;
}

button:hover {
  border-width: 10px;
}

input {
  border: solid 2px #bd5624;
  border-radius: 1px;
  transition: border-width 0.6s linear;
}

input:hover {
  border-width: 10px;
}